[phases.setup]
nixPkgs = ["nodejs_22"]
commands = ["corepack enable", "corepack prepare pnpm@9.12.0 --activate"]

[phases.install]
depCmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm run generate && pnpm run build"]

[start]
cmd = "pnpm run migrate:deploy && pnpm run start"

